[build]
  publish = "."

[[redirects]]
  from = "/login"
  to = "/landingpage.html"
  status = 200

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
